{{!< default}}
{{#tag}}
    <div class="main-header-content inner">
        <h1 class="page-title">{{name}}</h1>
        <h2 class="page-description">
            {{#if description}}
                {{description}}
            {{else}}
                {{../pagination.total}} Beiträge
            {{/if}}
        </h2>
    </div>
{{/tag}}
<div class="masonry row">
    <div class="masonry-sizer col-sm-6 col-xs-12"></div>
    {{> "loop"}}
</div>
{{pagination}}
